@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

.text-petit {
    font-size: 14px;
}

.text-tres-petit {
    font-size: 14px;
}

.titre:first-letter {
    text-transform: uppercase;
}